


.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .largeHeader {
    color: #4a90e2;
    font-weight: 100;
    font-size: 6.250em;
    margin-bottom: 20px;
  }


.errorMsg {
    color: #ff7777;
    font-size: 1.375em;
    text-align: center;
  }
  